/*FOOTER*/
#footer{
    position: fixed;
    font-size: 12px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-left: -20px;
    padding-right: 20px;
    opacity: 0.9;
}