/*HEADER*/
#header, #footer{
    font-family: "Roboto";
    color: white;
    background-color: orange;
    height: 30px;
    text-align: center;
}
.favicon{
    padding-top: 5px;
    margin-right: 3px;
}
#header{
    font-weight: bold;
    font-family: "Cinzel";
    font-weight: normal;
    font-size: 20px;
    padding-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 1%;
}
#header a{
    text-decoration: none;
    color: white;
}
