html { height: 100% }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #505;
    background-attachment: fixed !important;
    background: #2f2727; /* Old browsers */
    background: -moz-linear-gradient(top,  #2f2727 0%, #afa8a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2727), color-stop(100%,#afa8a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2f2727 0%,#afa8a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2f2727 0%,#afa8a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2f2727 0%,#afa8a8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2f2727 0%,#afa8a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2727', endColorstr='#afa8a8',GradientType=0 ); /* IE6-9 */
}

div.container, div.ng-scope {
    height: inherit;
}

.hero-unit{
    padding-top: 0px !important;
}

/*.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}*/

#map_canvas {
    height:100%;
    border:2px solid #777777;
    margin:3px;
}
.btn{
    margin-top: 20px;
    margin-left: auto;
    border: none !important;
}
.btn-splash {
    width: 200px;
    height: 215px;
}

@media only screen and (max-width: 600px)
{
    .btn-splash {
        width: 90%;
        height: 215px;
    }
}

.btn-splash-img {
    max-width: 50%;
    max-height: 130px;
}

.span-cat {
    text-align: center;
}

.span-maps {
    text-align: center;
}

ul{
    list-style-type: none;
}

.category-list {
    font-family: 'Segoe UI';
    font-size: 24px;
    opacity: 0;
    width: 97% !important;
    padding: 5px 10px 5px 0px !important;
    margin: 0px 0px 0px 0px;
    animation: category-list 1s;
    animation-fill-mode: forwards;
    -webkit-animation: category-list 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
}

.category-list > .accordion-heading > a {
    text-decoration: none ;
    font-size: 130%;
    color: white;
}
.accordion-heading, .accordion-toggle{
   background: #2F2727;
   padding: 0px !important;
}
.accordion-image {
    padding-right: 30px;
    max-width: 100px;
    max-height: 100px;
}
.accordion-heading a:hover, .accordion-heading a:active{
    color: #f7f7f7 !important;
}
.accordion-group{
    padding: 0 !important;
    background-color: white !important;
    border-color: #505050 !important;
}
.accordion-group a{
    color: maroon;
}
.accordion-group a:hover, .accordion-groupd a:active{
    text-decoration: none !important;
    color: gray;
}

hr{
    border-color: gray !important;
}
.row{
    font-family: 'Segoe UI';
    font-weight: lighter;
    color: #505050 !important;
}

.cat-details {;
    padding-left: 40px !important;
}
.meny-left > .meny {
    opacity: 0;
}

.meny-active > .meny {
    opacity: 1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes category-list {
    from        { opacity: 0; top: 0%; }
    to          { opacity: 1; top: 45%; }
}

@-webkit-keyframes category-list {
    from        { opacity: 0; top: 0%; }
    to          { opacity: 1; top: 45%; }
}

