html { height: 100% }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505;
    background-image: url(../img/back_g.png);
    background-attachment: fixed !important;
   }

div.container, div.ng-scope {
    height: inherit;
}

.hero-unit{
    padding-top: 0px !important;
}

/*.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}*/

#map_canvas {
    height:100%;
    border:2px solid #777777;
    margin:3px;
}
.btn{
    margin-top: 20px;
    margin-left: auto;
    border: orange solid 7px !important;
    background-image: none !important;
}
.btn-splash {
    width: 400px;
    height: 205px;
}

@media only screen and (max-width: 600px)
{
    .btn-splash {
        width: 100%;
        height: 205px;
    }
}

.btn-splash-img {
    max-width: 50%;
    max-height: 70px;
}

.span-cat {
    text-align: center;
}

.span-maps {
    text-align: center;
}

ul{
    list-style-type: none;
}

.category-list {
    font-family: 'Segoe UI';
    font-size:18px;
    opacity: 0;
    width: 97% !important;
    padding: 5px 10px 5px 0px !important;
    margin: 0px 0px 0px 0px;
    animation: category-list 1s;
    animation-fill-mode: forwards;
    -webkit-animation: category-list 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
}

.category-list > .accordion-heading > a {
    text-decoration: none ;
    font-size: 90%;
    color: #505050;
}
.accordion-heading, .accordion-toggle{
   background: linear-gradient(transparent 10%, #f2f2f2);
   padding: 0px !important;
}
.accordion-image {
    padding-right: 30px;
    max-width: 100px;
    max-height: 100px;
}
.accordion-heading a:hover, .accordion-heading a:active{
    /*color: #f7f7f7 !important;*/
}
.accordion-group{
    padding: 0 !important;
    background-color: #ffffff !important;
    border-color: silver !important;
}
.accordion-group a{
    color: #505050;
}
.accordion-group a:hover, .accordion-groupd a:active{
    text-decoration: none !important;
    color: gray;
}

hr{
    border-color: gray !important;
}
.row{
    font-family: 'Segoe UI';
    font-weight: lighter;
    color: #505050 !important;
}

.cat-details {;
    padding-left: 40px !important;
}
.meny-left > .meny {
    opacity: 0;
}

.meny-active > .meny {
    opacity: 1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes category-list {
    from        { opacity: 0; top: 0%; }
    to          { opacity: 1; top: 45%; }
}

@-webkit-keyframes category-list {
    from        { opacity: 0; top: 0%; }
    to          { opacity: 1; top: 45%; }
}

.no-padding {
    padding: 0px 0px 0px 0px !important;
}

.header, .footer{
    color: white;
    background-color: orange;
    height: 40px;
    text-align: center;
}

.header{
    padding-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 1%;
}

.footer{
    bottom: 0px;
    width: 100%;
    position: absolute;
    margin-left: -20px;
    margin-right: -20px;
}