/*Splash Page*/

.btn{
    margin-top: 10px;
    margin-left: auto;
    border: silver solid 1px !important;
    background-image: none !important;
}
.btn-splash {
    width: 500px;
    height: 120px;
}
.btn-splash h2{
    padding-top: 3%;
    font-size: 25px;
}

.btn-splash-img {
    float:left;
    max-width: 50%;
    max-height: 80px;
}
.banner{
    margin-top: 20px;
    margin-bottom: 30px;
}