node_modules
.tmp
.sass-cache
app/bower_components/angular
app/bower_components/angular-cookies
app/bower_components/angular-google-maps
app/bower_components/angular-mocks
app/bower_components/angular-resource
app/bower_components/angular-sanitize
app/bower_components/angular-scenario
app/bower_components/angular-ui
app/bower_components/es5-shim
app/bower_components/jquery
app/bower_components/json3
app/bower_components/ng-mobile-menu
dist/*
dist/**/*
app/img/places/*
app/img/places/**/*

