<!--TODO: add this style in CSS instead -->

<head>
	<style type="text/css">
		h2, ul{
			color: white;
			font-family: "Segoe UI";
		}
		.meny-list{
			font-size: 20px;
			text-indent: 20px;
			width: 95%;
			margin: 0;
			margin-right: 30px;
			margin-left: 10px;
		}
		.meny-list a{
			display: block;
			padding:10px;
		}
		td{
			/*padding: 10px;*/
			background-color: #2F2727;
			color:white;
		}
		td a{
			color:white;
		}
		td a:hover, td a:active{
			text-decoration: none;
			background-color: #837777;
			color: white;
		}
	</style>
</head>

<h2>Navigation</h2>
<table class="meny-list">
	<tr><td><a href='#/'>Main</a></td></tr>
	<tr><td><a href='#/categories'>Categories</a></td></tr>
	<tr><td><a href='#/maps'>Maps</a></td></tr>
</table>

<!-- 
<ul class="meny-list">
	<li><a href='#/'>Main</a></li>
	<li><a href='#/categories'>Categories</a></li>
	<li><a href='#/maps'>Maps</a></li>
</ul>
 -->