<navigation id="sp-nav"></navigation>
<div id="sp-page">
  <button ng-click="$spMenu.toggle()"><i class="icon-align-justify"></i></button>
  <div class="input-prepend search">
    <span class="add-on"><i class="icon-search"></i></span>
    <input type="text" ng-model="search.$">
  </div>
  <accordion close-others="{{oneAtATime}}">
    <accordion-group ng-repeat="list in category | filter:search" heading="{{list.category}}" class="category-list hero-unit">
      <ul>
        <li ng-repeat="places in list.places | filter:search">
          <!-- TODO: Include image name for each category in DB -->
          <a href="#/category/{{list.category}}/{{places.id}}/details">{{places.name}}</a>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>
