<navigation id="sp-nav"></navigation>
<div id='sp-page' class='container-fluid main-content map-back'>
	<button ng-click="$spMenu.toggle()" class="nav-button "><i class="icon-align-justify"></i></button>
	<div class='hero-unit cat-det'>
		<div class='row'></div>
			<div class='row cat-details'><img src="../img/photo_na.jpg" class="img-rounded img-det"></div>
			<hr class="carved"/>
		<div class='row'><h3>Name</h3></div>
			<div class='row cat-details'>{{placeList[placeId - 1].name}}</div>
			<hr class="carved"/>
		<div class='row'><h3>Opening Hours</h3></div>
			<div class='row cat-details'>{{placeList[placeId - 1].opening_hours}}</div>
			<hr class="carved" />
		<div class='row'><h3>Address</h3></div>
			<div class='row cat-details'>{{placeList[placeId - 1].location}}</div>
			<hr class="carved"/>
		<div class='row'><h3>Price Range</h3></div>
			<div class='row cat-details'>{{placeList[placeId - 1].price_range}}</div>
			<hr class="carved"/>
		<div class='row'><h3>Description</h3></div>
			<div class='row cat-details'>{{placeList[placeId - 1].description}}</div>
			<hr class="carved" />

		<div class='row'><h3>Maps</h3></div>
			<div class='row cat-details'><a href="#/maps/"><btn class="btn">Locate in maps..</btn></a></div>
	</div>
</div>