<navigation id="sp-nav"></navigation>
<div id='sp-page' class='container-fluid main-content map-back'>
	<button ng-click="$spMenu.toggle()" class="nav-button "><i class="icon-align-justify"></i></button>
	<div class='hero-unit cat-det'>
		<div class='row'></div>
			<div class='row cat-details'><img src="../img/photo_na.jpg" class="img-rounded img-det"></div>
			<hr class="carved"/>
		<div class='row no-top-bottom-padding'><h3>Name</h3></div>
			<div class='row cat-details no-top-bottom-padding'>{{placeDetail.Name}}</div>
		<div class='row no-top-bottom-padding'><h3>Opening Hours</h3></div>
			<div class='row cat-details no-top-bottom-padding'>{{placeDetail.Opening_Hours}}</div>
		<div class='row no-top-bottom-padding'><h3>Address</h3></div>
			<div class='row cat-details no-top-bottom-padding'>{{placeDetail.Location}}</div>
		<div class='row no-top-bottom-padding'><h3>Price Range</h3></div>
			<div class='row cat-details no-top-bottom-padding'>{{placeDetail.Price_Range}}</div>
		<div class='row no-top-bottom-padding'><h3>Description</h3></div>
			<div class='row cat-details no-top-bottom-padding'>{{placeDetail.Description}}</div>
		<div class='row no-top-bottom-padding'><h3>Maps</h3></div>
			<div class='row cat-details no-top-bottom-padding'><a href="#/maps/"><btn class="btn">Locate in maps..</btn></a></div>
	</div>
</div>