
<div class="container-fluid">
	<div class="row ">
		<div class="span12 banner">
			<img src="img/splash.png" />
		</div>
	</div>
	<div class="row center">
		<div class="span-cat">
			<a ng-href="{{links.categories}}"><button class="btn btn-large btn-splash"><img src="img/categories.png" class="btn-splash-img" /><h2>Categories</h2></button></a>
		</div>
		<div class="span-maps">
			<a ng-href="{{links.maps}}"><button class="btn btn-large btn-splash"><img src="img/map.png" class="btn-splash-img" /><h2>Maps</h2></button></a>
		</div>
	</div>
</div>
